.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding-right: 4px;
    padding-left: 4px;
}

.row.no-gutters .col {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

/* Small devices such as large phones */
@media only screen and (max-width: 767px) {
    .m-0 {
        display: none;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Medium devices such as tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid.wide {
        max-width: 644px;
    }

    .row {
        margin-right: -8px;
        margin-left: -8px;
    }

    .col {
        padding-right: 8px;
        padding-left: 8px;
    }

    .t-1,
    .t-2,
    .t-3,
    .t-4,
    .t-5,
    .t-6,
    .t-7,
    .t-8,
    .t-9,
    .t-10,
    .t-11,
    .t-12 {
        display: block;
    }

    .t-0 {
        display: none;
    }

    .t-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .t-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .t-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .t-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .t-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .t-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .t-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .t-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .t-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .t-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .t-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .t-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Begin: Column offset */
    .t-o-1 {
        margin-left: 8.33333%;
    }

    .t-o-2 {
        margin-left: 16.66667%;
    }

    .t-o-3 {
        margin-left: 25%;
    }

    .t-o-4 {
        margin-left: 33.33333%;
    }

    .t-o-5 {
        margin-left: 41.66667%;
    }

    .t-o-6 {
        margin-left: 50%;
    }

    .t-o-7 {
        margin-left: 58.33333%;
    }

    .t-o-8 {
        margin-left: 66.66667%;
    }

    .t-o-9 {
        margin-left: 75%;
    }

    .t-o-10 {
        margin-left: 83.33333%;
    }

    .t-o-11 {
        margin-left: 91.66667%;
    }

    /* End: Column offset */
}

/* Large devices such as laptops */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .grid.wide {
        max-width: 95%;
    }

    .row {
        margin-right: -4px;
        margin-left: -4px;
    }

    .col {
        padding-right: 4px;
        padding-left: 4px;
    }

    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-0 {
        display: none;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Begin: Column offset */
    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }

    /* End: Column offset */
}

/* Largest devices such as desktops */
@media only screen and (min-width: 1280px) {
    .row {
        margin-right: -12px;
        margin-left: -12px;
    }

    .col {
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-gutter.row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .sm-gutter .col {
        padding-right: 5px;
        padding-left: 5px;
    }

    .d-1,
    .d-2,
    .d-3,
    .d-4,
    .d-5,
    .d-6,
    .d-7,
    .d-8,
    .d-9,
    .d-10,
    .d-11,
    .d-12 {
        display: block;
    }

    .d-0 {
        display: none;
    }

    .d-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .d-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .d-2-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .d-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .d-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .d-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .d-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .d-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .d-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .d-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .d-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .d-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .d-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Begin: Column offset */
    .d-o-1 {
        margin-left: 8.33333%;
    }

    .d-o-2 {
        margin-left: 16.66667%;
    }

    .d-o-3 {
        margin-left: 25%;
    }

    .d-o-4 {
        margin-left: 33.33333%;
    }

    .d-o-5 {
        margin-left: 41.66667%;
    }

    .d-o-6 {
        margin-left: 50%;
    }

    .d-o-7 {
        margin-left: 58.33333%;
    }

    .d-o-8 {
        margin-left: 66.66667%;
    }

    .d-o-9 {
        margin-left: 75%;
    }

    .d-o-10 {
        margin-left: 83.33333%;
    }

    .d-o-11 {
        margin-left: 91.66667%;
    }

    /* End: Column offset */
}